* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header functions and format*/
header {
  background-image: url("../images/drums.jpg");
  background-position: top;
  background-attachment: fixed; /*rolling affect coupled with hero*/
  background-position: 25%;
  margin: 0 0 15px 0;
  padding: 15px;
  display: flex; /* flex h1 and nav children elements*/
  justify-content: space-between; /*pushes space between h1 and nav*/
  flex-wrap: wrap; /* moves nav onto next line*/
  background-size: cover;
  width: 100%;
}

header nav {
  margin: 7px 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: white;
}

/*navigation bar formatting*/
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /*cross axis alignment*/
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}
header nav ul li a:hover {
  background: white;
  color: rgb(6, 71, 6);
  border-radius: 10px;
  text-shadow: none;
  margin: 0 30px;
}

/*hero formatting*/
.hero {
  background-image: url("../images/drums.jpg");
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 400px;
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.bio {
  background-color: black;
}
/*center heading text*/
.bio h2 {
  text-align: center;
  background-color: black;
  padding-top: 15px;
}

/* make parent container and format text style*/
.bio-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  font-size: 24px;
}

.bio-content p {
  padding: 5 px;
}

/*format picture into circle*/
.bio-content img {
  border-radius: 50%;
  margin-top: 50px;
  opacity: 0.25;
  width: 50%;
  margin-bottom: 50px;
}

/*create fade effect*/
.bio-content img:hover {
  opacity: 1;
}

/*format skills section*/
.skills h2 {
  text-align: center;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0x auto;
}

.logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  flex-flow: column;
}

.logos img {
  border-radius: 50%;
  width: 100px;
}

.logos p {
  text-align: center;
}

/*format links section*/
.dapp h2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
  align-items: flex-end;
}

.links article {
  margin: 15px;
}

.links article p {
  font-size: 50px;
  color: white;
}

.links article img {
  opacity: 1;
  border-radius: 50px;
  width: 500px;
}

.links img:hover {
  opacity: 0.25;
}

/*Format Contact Me Section*/
.contact-flex {
  margin-bottom: 35px;
}
.contact-flex h2 {
  text-align: center;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/* mass loaded classes*/
.section-title {
  font-size: 55px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  margin: 35px auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: rgb(6, 71, 6);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Resize Heading on Smaller Screen*/
@media screen and (max-width: 610px) {
  .section-title {
    font-size: 35px;
  }
  .address {
    font-size: 20px;
  }
}

@media screen and (max-width: 389px) {
  .section-title {
    font-size: 20px;
  }
}
