* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER STYLING*/
header {
  background-color: black;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header nav {
  margin: 10px 10px;
}

/* The animation code
@keyframes header-div {
  0% {
    background-color: rgb(165, 171, 59);
    width: 110px;
    height: 110px;
    border-radius: ;
  }
  25% {
    background-color: rgb(221, 171, 5);
    width: 120px;
    height: 120px;
    border-radius: 15%;
  }
  50% {
    background-color: rgb(186, 58, 19);
    width: 130px;
    height: 130px;
    border-radius: 35%;
  }
  100% {
    background-color: rgb(255, 60, 0);
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
}

/* The element to apply the animation to */
header div {
  width: 100px;
  height: 100px;
  background-color: gray;
  animation-name: header-div;
  animation-duration: 8s;
}
*/ header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: white;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
}

/*NAV BAR STYLING*/
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.646);
  padding: 5px;
  border-radius: 2px;
}

header nav ul li a:focus {
  background: rgb(6, 71, 6);
  color: white;
  border-radius: 3px;
  margin: 0 30px;
  font-size: 24px;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.775);
  color: rgb(6, 71, 6);
  border-radius: 3px;
  margin: 0 30px;
}

/*HERO FORMATTING*/
.hero {
  background-color: black;
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 150px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hero h1 {
  color: white;
  text-align: center;
  font-size: 55px;
}

.hero-form-div {
  padding-top: 25px;
}

form {
  background-color: rgba(6, 71, 6, 0.898);
  color: white;
  height: 400px;
  width: 500px;
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
  border: solid rgba(255, 255, 255, 0.816);
  font-size: 24px;
  margin-left: 50px;
}

form h2 {
  text-align: center;
  font-size: 36px;
  padding-bottom: 10px;
}

.form-input {
  border: 1px solid rgb(6, 71, 6);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: rgb(6, 71, 6);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
}

form button {
  margin: 0px auto 0px auto;
  display: block;
  border: solid black;
  color: black;
  background-color: rgba(255, 255, 255, 0.646);
  border-radius: 10px;
  width: 150px;
}

form button:hover {
  margin: 0px auto 0px auto;
  display: block;
  border: solid white;
  color: white;
  background-color: rgba(0, 0, 0);
  border-radius: 10px;
  width: 150px;
}

/* BIO FORMATTING*/
.bio {
  width: 100%;
  padding-bottom: 50px;
  background-color: black;
  padding-top: 50px;
}

.bio-title {
  font-size: 55px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 15px;
  border-bottom: white solid 1px;
  width: 1000px;
}

.bio-image {
  margin: 10px auto;
}

.bio-content {
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  font-size: 24px;
}

.bio-content p {
  padding: 5 px;
}
.burnt-orange {
  color: orangered;
}

.fillerone {
  background-image: url("../images/24\ \(2\).jpg");
  height: 5px;
  margin-top: 3px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  background-attachment: fixed; /*rolling affect coupled with header*/
  background-position: top;
  background-size: cover;
}

.fillertwo {
  border-radius: 10px;
  border: white double;
  background: rgba(6, 71, 6, 0.898);
  height: 100px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 550px;
  color: white;
  padding-top: 10px;
  background-image: url("../images/map.jpg");
  background-attachment: fixed; /*rolling affect coupled with header*/
  background-position: 20%;
}

.fillerthree {
  border-radius: 10px;
  border: white double;
  background: rgba(6, 71, 6, 0.898);
  height: 100px;
  margin-bottom: 10px;
  margin-left: 550px;
  margin-right: 100px;
  color: white;
  padding-top: 30px;
  background-image: url("../images/map.jpg");
  background-attachment: fixed; /*rolling affect coupled with header*/

  background-position: top;
}

/* SKILLS FORMATTING */
.skills {
  margin: 10px;
  border: solid rgb(6, 71, 6);
}

.skills-title {
  font-size: 55px;
  color: black;
  text-align: center;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: rgb(6, 71, 6) solid;
  margin: 0px auto 100px auto;
  width: 600px;
  border-radius: 3px;
  float: right;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0x auto;
}

.logos {
  color: black;
}

.logos p {
  text-align: center;
  font-size: 36px;
}

/*format links section*/

.dapp {
  width: 100%;
  padding-bottom: 50px;
  background-color: black;
  padding-top: 50px;
}

.dapp h3 {
  text-align: center;
}

.dapp a {
  color: white;
  text-decoration: none;
}

.dapp a:hover {
  text-decoration: none;
  color: blue;
}

.dapp a:active {
  color: white;
  text-decoration: none;
}

.dapp-title {
  color: white;
  font-size: 55px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 15px;
  border-bottom: white solid 1px;
  width: 1000px;
  margin-bottom: 50px;
}

.dapparticles {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dapp article {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  margin: 15px auto;
}

.links-parent-container {
  text-align: -webkit-center;
}

.article-box {
  width: 500px;
}

.article-box img {
  width: 300px;
  margin: 15px;
}

.article-box img:hover {
  opacity: 0.25;
}

/* Link Formatting */
.link-container {
  position: relative;
  text-align: center;
  color: white;
}

/*Format Contact Me Section*/
#contact-me {
  background-color: black;
}
.contact-flex {
  margin-bottom: 35px;
}
.contact-flex h2 {
  text-align: center;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/* mass loaded classes*/

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
